@tailwind base;

@tailwind components;

@tailwind utilities;

html, body {
    height: 100%;
}

html {
    font-size: 2.25vh;

    @media (display-mode: standalone) {
        font-size: 2.5vh;
    }
}

body {
    @apply bg-green-700;
    @apply text-white;

    min-width: 16rem;
    padding-bottom: 3.5rem;
    touch-action: none;
    user-select: none;
    overflow: hidden;

    &:before {
        background-image: url(https://images.unsplash.com/photo-1554481923-a6918bd997bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=1);
        background-position: center center;
        background-size: cover;
        content: '';
        position: absolute;
        top: -10vh;
        left: -10vw;
        width: 120vw;
        height: 120vh;
        filter: blur(10px);
        z-index: -1;
    }
}

.key {
    @apply rounded-full;
    @apply w-16;
    @apply h-16;
    @apply mx-auto;
    @apply text-4xl;
    @apply flex;
    @apply items-center;
    @apply justify-center;

    &:focus {
        @apply outline-none;
    }
}

.phone-input {
    @apply bg-transparent;
    @apply appearance-none;
    @apply w-full;
    @apply px-4;
    @apply py-3;
    @apply text-center;
    @apply text-4xl;
    @apply text-white;

    &:focus {
        @apply outline-none;
    }
}

.send-btn {
    @apply bg-green-600;
    @apply bg-opacity-75;
    @apply fixed;
    @apply bottom-0;
    @apply left-0;
    @apply w-full;
    @apply text-white;
    @apply font-bold;
    @apply px-4;
    @apply py-4;

    &:focus {
        @apply outline-none;
    }
}
