@tailwind base;

@tailwind components;

@tailwind utilities;

html, body {
    height: 100%;
}

body {
    touch-action: none;
    user-select: none;
}

.key {
    @apply rounded-full;
    @apply w-16;
    @apply h-16;
    @apply mx-auto;
    @apply text-2xl;
    @apply flex;
    @apply items-center;
    @apply justify-center;

    &:focus {
        @apply outline-none;
        @apply shadow-outline;
    }
}

.phone-input {
    @apply appearance-none;
    @apply border;
    @apply rounded;
    @apply shadow;
    @apply w-full;
    @apply px-16;
    @apply py-3;
    @apply text-gray-700;

    &:focus {
        @apply outline-none;
        @apply shadow-outline;
    }
}

.phone-input-addon {
    @apply bg-gray-100;
    @apply border;
    @apply absolute;
    @apply top-0;
    @apply w-12;
    @apply h-full;
    @apply flex;
    @apply items-center;
    @apply justify-center;

    &:focus {
        @apply outline-none;
    }
}

.send-btn {
    @apply bg-green-700;
    @apply fixed;
    @apply bottom-0;
    @apply left-0;
    @apply w-full;
    @apply text-white;
    @apply font-bold;
    @apply px-4;
    @apply py-4;
    @apply rounded;

    &:focus {
        @apply outline-none;
        @apply shadow-outline;
    }
}
